/* 	
 *		Wotfard 
 */

// Bold
@font-face {
	font-family: Wotfard;
	src: url("./fonts/Wotfard-Bold.otf"), url("./fonts/Wotfard-Bold.ttf");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
// Bold-italic
@font-face {
	font-family: Wotfard;
	src: url("./fonts/Wotfard-BoldItalic.otf"),
		url("./fonts/Wotfard-BoldItalic.ttf");
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

// Semi-Bold
@font-face {
	font-family: Wotfard;
	src: url("./fonts/Wotfard-SemiBold.otf"), url("./fonts/Wotfard-SemiBold.ttf");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
// Semi-Bold-italic
@font-face {
	font-family: Wotfard;
	src: url("./fonts/Wotfard-SemiBoldItalic.otf"),
		url("./fonts/Wotfard-SemiBoldItalic.ttf");
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

// Medium
@font-face {
	font-family: Wotfard;
	src: url("./fonts/Wotfard-Medium.otf"), url("./fonts/Wotfard-Medium.ttf");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
// Medium-italic
@font-face {
	font-family: Wotfard;
	src: url("./fonts/Wotfard-MediumItalic.otf"),
		url("./fonts/Wotfard-MediumItalic.ttf");
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

// Regular
@font-face {
	font-family: Wotfard;
	src: url("./fonts/Wotfard-Regular.otf"), url("./fonts/Wotfard-Regular.ttf");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
// Regular-italic
@font-face {
	font-family: Wotfard;
	src: url("./fonts/Wotfard-RegularItalic.otf"),
		url("./fonts/Wotfard-RegularItalic.ttf");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

// Light
@font-face {
	font-family: Wotfard;
	src: url("./fonts/Wotfard-Light.otf"), url("./fonts/Wotfard-Light.ttf");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
// Light-italic
@font-face {
	font-family: Wotfard;
	src: url("./fonts/Wotfard-LightItalic.otf"),
		url("./fonts/Wotfard-LightItalic.ttf");
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

// ExtraLight
@font-face {
	font-family: Wotfard;
	src: url("./fonts/Wotfard-ExtraLight.otf"),
		url("./fonts/Wotfard-ExtraLight.ttf");
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}
// ExtraLight-italic
@font-face {
	font-family: Wotfard;
	src: url("./fonts/Wotfard-ExtraLightItalic.otf"),
		url("./fonts/Wotfard-ExtraLightItalic.ttf");
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}

// Thin
@font-face {
	font-family: Wotfard;
	src: url("./fonts/Wotfard-Thin.otf"), url("./fonts/Wotfard-Thin.ttf");
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}
// Thin-italic
@font-face {
	font-family: Wotfard;
	src: url("./fonts/Wotfard-ThinItalic.otf"),
		url("./fonts/Wotfard-ThinItalic.ttf");
	font-weight: 100;
	font-style: italic;
	font-display: swap;
}
